.blogpost{
   max-width: 1000px;
    border-radius: 15px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
    color: white;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    div{
        background-repeat: no-repeat;
    }
} 
.blogOne{
    grid-column: 1/span 2;
    background: url(../../assets/props3/park.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
    
}
.blogTwo{
    grid-row: span 2;
    background: url(../../assets/props3/park2.jpg);
    background-attachment: fixed;
    background-size: contain;
    height: 600px;

}
.blogThree{
    background: url(../../assets/props3/park3.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
}
.blogFour{
    background: url(../../assets/props3/park4.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
}
@media screen and (max-width: 800px) {
    .blogpost{
        background-color: rebeccapurple;
       display: block;
       padding: 0px;
       
    }
    .blogOne, .blogTwo, .blogThree, .blogFour{
        width: 75%;
        height: 400px;
        background-attachment: local;
        padding: 20px;
    }
    .blogTwo{
        background-size: cover;
        background-position: center;

    }
}