.blogpost{
    width: 1000px;
    border: 1px solid red;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
    color: white;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);

}
.blogpost div:nth-child(1){
    grid-column: 1/span 2;
    background: url(../../assets/props3/park.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    position: relative;
    
}
.blogpost div:nth-child(2){
    grid-row: span 2;
    background: url(../../assets/props3/park2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;

    background-size: contain;
    height: 600px;

}
.blogpost div:nth-child(3){
    background: url(../../assets/props3/park3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 240px;

    /* background-attachment: fixed; */
}
.blogpost div:nth-child(4){
    background: url(../../assets/props3/park4.jpg);
    background-size: cover;
    background-position: center;
    height: 240px;

    /* background-attachment: fixed; */

}