.props3{
    border: 10px solid white;
    border-radius: 20px;
    /* height: 400px; */
    /* width: 400px; */
    margin: 20px;
    padding: 40px 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    p{
        max-width: 350px;
        margin: 7px 0px;
        font-weight: 600;
    }
    h5{
        margin: 10px 0px;
    }
    a{
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
    span{
        color: black;
        font-size: 25px;
        font-size: 700;

    }
}