.product{
    border: 1px solid;
    height: 500px;
    width: 400px;


    
    img{
        width: 400px;
        height: 250px;
    }

    button{
        width: 200px;
        height: 50px;

    }
}